{% extends 'main.html'%}

{% block content %}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<main>
    <div class='grid-container'>
        
        
        
        <!-- Progress Container starts -->
        <div>
            <small>Progess</small>
        <a>Progess Bar</a>
        </div>
        <!-- Progress Container ends -->

        
        
        <!-- Tasks Container starts -->
        <div>
            <small>New Tasks</small>
            {% include 'base/tasks.html' %}
        </div>
        <!-- Tasks Container ends -->



        <!-- Tags Container starts -->
        <div>
            <small>Tags</small>
            {% include 'base/tags.html' %}
        </div>
        <!-- Tags Container ends -->


        
    </div>
</main>

{% endblock %}