<style>
    label {
        display:block;
    }
</style>

<div class ="form_div">
<form class ="form" action = "" method = "POST">
    {% csrf_token %}

    <!-- Tags -->
    <div class = "form_group">
        <label for = 'tag_decision'>Tags</label>
        <input name = 'tag' action = '' type = 'text'>
        <datalist id = 'tag-list'>
            <select id = 'task-tag'>
                {%for tag in tags%}
                <option value = "{{tag.name}}">{{tag.name}}</option>
                {% endfor %}
            </select>
        </datalist>

    </div>

    <!-- Tasks -->
    <div class = "form_group">
        <label for = 'task_decision'>Task Name</label>
        {{task_form.name}}
    </div>

    <!-- Description -->
    <div class = "form_group">
        <label for = 'task_description'>Description</label>
        {{task_form.description}}
    </div>



</form>
</div>
